
{% extends "base.html" %}
{% block title %}Add New Clients - {% endblock %}
{% block content %}

<h2 align="center">Details for User - {{id}}</h2>
<style>

 .registerLabel{
  text-align:center;
}

</style>

<form id="edit_user" method="POST" action="save">

    {% csrf_token %}

    <!--<div class="registerLabel">
        ID : <input type="text" id="registerID" name="registerID" class="registerTextDetails">
    </div>
    <br>-->
    <div>
    <input type = "hidden" name = "id" value="{{id}}">
        </div>

    <div class="registerLabel">
        Full name: <input type="text" id="registername" name="registername" class="registerTextDetails" value = {{name}}>
    </div>
    <br>

    <div class="registerLabel">
        Mob_No: <input type="text" id="registernum" name="registernum" class="registerTextDetails"  value = {{no}}>
    </div>
    <br>

    <div class="registerLabel">
        Network: <input type="text" id="registernetwork" name="registernetwork"  class="registerTextDetails" value = {{network}}>
    </div>
     <br>
    <div class="registerLabel">
        DOB: <input type="date" id="registerdob" name="registerdob"  class="registerTextDetails" value = {{dob}}>
    </div>

 <br>

    <div style="text-align: center;" id="registerButtonDiv">

        <button type="submit" class="registerButtons" id="submitRegistration">Register</button>
        <button onclick="goBack()" class="registerButtons" id="cancelRegisterButton">Cancel</button>
        <button type="reset" value="Reset">Reset</button>

        <script>
function goBack() {
    window.history.back();
}
</script>
    </div>
</form>
{% endblock %}
